{{ define "main" }}
<div class="page-single">
  {{ if .Params.feature -}}
  <div class="ax-feature ax-l-o">
    <div class="ax-l-i{{ printf " %s" (.Params.maxWidthFeature | default "max-w-5xl") }}">
      {{- partial "feature" . }}
    </div>
  </div>
  {{- end -}}

  <div class="ax-content ax-l-o">
    {{ if ne .Params.title "Dogs"}}
    <div class="ax-l-i{{ printf " %s" (.Params.maxWidthContent | default "max-w-680") }}">
      <h1 class="page-title font-content-title font-normal leading-tight tracking-default text-40">{{ .Title }}</h1>
      {{ else }}
      <div class="ax-l-i{{ printf " %s" (.Params.maxWidthContent | default "max-w-4xl") }}">
      {{ end }}

      <article class="cdata mt-8">
        {{ .Content }}
      </article>
    </div>
  </div>
</div>
{{ end }}
