/**
 * Added CSS
 */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.2rem;
  color: black;
  padding: 10px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #d46665, #d790ad);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #d46665;
  font-weight: 700;
}

.dog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.breed-element {
  margin: 10px 5px;
  border: solid 1px #d46665;
  padding: 10px 15px;
  font-size: 1.1em;
}

.breed-element:hover {
  background: #d46665;
  color: white;
  cursor: pointer;
}

.image-breed-element {
  display: block;
  width: 50%;
}

.description-breed-element {
  width: 50%;
  padding: 0 10px;
  font-size: 1.1rem;
}

.back-list-button {
  border: solid 1px #d46665;
  background-color: #d46665;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.back-list-button:hover {
  background-color: #ac5250;
  position: relative;
  top: 2px;
}

.hidden {
  display: none;
}

.search-container {
  position: relative;
}

.suggestions-block {
  position: absolute;
  top: 60px;
  width: 100%;
  background: #fff;

  border: solid 1px #ac5250;
  border-top: none;
}

.suggestions-block li {
  list-style-type: none;
  font-size: 1.3rem;
  border-bottom: solid 1px #ac5250;
  padding: 10px;
}

.suggestions-block li:hover {
  background-color: #d790ad;
  color: #fff;
  cursor: pointer;
}

.suggestions-block li:last-of-type {
  border-bottom: none;
}

/*
   * Default theme css
   */
.inline-block {
  display: inline-block;
}
.table {
  display: table;
}
.h-6 {
  height: 1.5rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mt-8 {
  margin-top: 2rem;
}
.mt-9 {
  margin-top: 2.25rem;
}
.max-w-2xl {
  max-width: 42rem;
}
.max-w-4xl {
  max-width: 56rem;
}
.fill-current {
  fill: currentColor;
}
.text-raven-800 {
  color: #333;
}
.align-text-bottom {
  vertical-align: text-bottom;
}
.w-auto {
  width: auto;
}
@media (min-width: 640px) {
  .sm\:flex {
    display: flex;
  }
  .sm\:mt-0 {
    margin-top: 0;
  }
  .sm\:ml-8 {
    margin-left: 2rem;
  }
}
