{{ $placeholder := .Get `placeholder`}} {{ $name := .Get `name`}}

<div class="search-container">
  <form class="form__group field" id="search-form">
    <input
      type="text"
      class="form__field"
      name="{{$name}}"
      id="{{$name}}"
      placeholder="{{$placeholder}}"
    />
    <label for="{{$name}}" class="form__label">{{$placeholder}}</label>
  </form>

  <ul class="suggestions-block hidden" id="suggestions-block"></ul>
</div>
